*{
    box-sizing: border-box;
}

body {
    height: 100%;
}

body {
    background-color: hsla(0, 0%, 100%, 0.75);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4%;
    padding-bottom: 9%;
    min-height: 100vh;
    position: relative;
}

.attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: 2%;
}

.principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 868px;
    min-width: 320px;
    color: hsla(0, 0%, 100%, 0.75);
    height: 80%;
}

.column {
    padding: 3rem;
    max-width: 284px;
    min-width: none;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.title {
    font-family: Big Shoulders Display;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.text {
    font-size: 15px;
    display: block;
    height: 40%;
    font-family: Lexend Deca;
}


button {
    border: none;
    background-color: #fff;
    border-radius: 1.5rem;
    width: 150px;
    padding: 1rem;
    font-family: Lexend Deca;
    font-weight: bolder;
    cursor: pointer;
    
}

.sedan button{
    color: hsl(31, 77%, 52%);
}

.suv button{
    color: hsl(184, 100%, 22%);
}

.luxury button{
    color: hsl(179, 100%, 13%);
}
